h2,
h1,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 24px;
  box-sizing: border-box;
}
.Logo {
  margin: 0;
  margin-right: 59px;
}
.searchInput {
  width: 333px;
  height: 40px;
  outline: none;
  border: none;
  background: #e4e4e4;
  border-radius: 2px;
  align-self: flex-end;
  padding-left: 20px;
}
.header_start {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  width: 404px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
